<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Information</title>
    <style>
        body {
            background-color: rgb(11, 12, 23);
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

        h2 {
            color: snow;
            font-family: 'Exo', sans-serif;
            font-weight: 700;
            font-size: 1.5rem;
            margin-bottom: 20px;
        }

        .card {
            background-color: #fff;
            color: #000;
            margin: 20px;
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            height:150px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .card-body {
            padding: 20px;
            text-align: center;
            height:150px;
        }

        .card-title {
            font-family: 'Exo', sans-serif;
            font-size: 1.2rem;
            margin: 10px 0;
        }

        .card-text {
            font-size: 1rem;
            margin: 5px 0;
        }

        img {
            max-width: 100%;
            margin: 20px;
        }

        #map-container {
            flex: 2;
            height: 300px;
            margin: 20px;
            max-width: 600px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>

</head>
<body>
    <h2 class="card-title"><%= cityName %>'s country code is <%= code %> (longitude: <%= lon %>, latitude: <%= lat %>)</h2>
    <div class="card">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Current temperature</h5>
                <p class="card-text"><%= temp %>°C</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Weather description</h5>
                <p class="card-text"><%= description %></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Feels like</h5>
                <p class="card-text"><%= feels %>°C</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Humidity</h5>
                <p class="card-text"><%= humidity %>%</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Wind speed</h5>
                <p class="card-text"><%= wind %> m/s</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Pressure</h5>
                <p class="card-text"><%= pressure %> hPa</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <img src="<%= imageURL %>" alt="weather icon"> 
            </div>
        </div>
    </div>
    <div id="map-container"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap" async defer></script>
    <script src="/public/map.js"></script>
    <script>
        // Call the initMap function after the page loads
        window.onload = function() {
            // Check if lat and lon are valid numbers before calling initMap
            if (!isNaN(<%= lat %>) && !isNaN(<%= lon %>)) {
                initMap(<%= lat %>, <%= lon %>);
            } else {
                console.error("Invalid latitude or longitude values.");
            }
        };
        function initMap(lat, lon) {
        const map = new google.maps.Map(document.getElementById("map-container"), {
            center: { lat: parseFloat(lat), lng: parseFloat(lon) },
            zoom: 10
        });

        // Add a marker for the city
        new google.maps.Marker({
            position: { lat: parseFloat(lat), lng: parseFloat(lon) },
            map: map,
            title: '<%= cityName %>'
        });
    }
    </script>
</body>
</html>
